{"presets":[["env",{"modules":false,"targets":{"browsers":[">0.25%","not ie 11","not op_mini all"]}}]],"plugins":["@vue/babel-plugin-jsx","@babel/plugin-syntax-dynamic-import",["@babel/plugin-proposal-decorators",{"decoratorsBeforeExport":false,"legacy":false}],["@babel/plugin-proposal-class-properties",{"loose":false}]]}